:root {
  --white: #ffffff;
  --black: #000000;
  --very-light-pink: #c7c7c7;
  --not-very-light-pink: #656565;
  --text-input-field: #f7f7f7;
  --img-not-found: #c4ebc9;
  --hospital-green: #acd9b2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
